---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';

const projects = [
	{
		title: 'My Notes',
		description: `A hobby project that allows users to create notes and share them with friends. 
			The main users are my family. Previously, we used Google Keep, 
			but I wanted to create something more tailored to our needs and privacy. 
			It was also my foray into Svelte and SvelteKit!`,
		tags: ['Svelte', 'SvelteKit', 'Postgres', 'Prisma', 'Tailwind', 'Vercel'],
		projectUrl: 'https://notes.vasic.com.au',
		sourceCodeUrl: 'https://github.com/dejanvasic85/notes'
	},
	{
		title: 'SES Melbourne',
		description: `A clean website and blog for a local business in Melbourne, Australia. 
			The website is built with Next.js and Sanity CMS. 
			It is a simple website that showcases the services offered by the business.`,
		tags: ['Nextjs', 'Tailwind', 'Sanity CMS', 'Tailwind', 'Vercel'],
		projectUrl: 'https://www.sesmelbourne.com.au/',
		sourceCodeUrl: 'https://github.com/dejanvasic85/ses-next'
	}
];
---

<Layout title="Projects - Dejan Vasic">
	<main class="container">
		<h1>Projects</h1>
		<div class="projects-grid">
			{
				projects.map((project) => (
					<Project
						title={project.title}
						description={project.description}
						tags={project.tags}
						projectUrl={project.projectUrl}
						sourceCodeUrl={project.sourceCodeUrl}
					/>
				))
			}
		</div>

		<a href="/" class="back-link">← Back to Home</a>
	</main>
</Layout>

<style>
	.projects-grid {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 2rem;
	}
</style>
