---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import { projects } from '../content/projects';
---

<Layout title="Projects - Dejan Vasic">
	<main class="container">
		<h1>Dejan Vasic's projects</h1>
		<div class="projects-list">
			{
				projects.map((project) => (
					<Project
						title={project.title}
						heroStatement={project.heroStatement}
						description={project.description}
						businessMetrics={project.businessMetrics}
						testimonial={project.testimonial}
						tags={project.tags}
						projectUrl={project.projectUrl}
						sourceCodeUrl={project.sourceCodeUrl}
						images={project.images}
					/>
				))
			}
		</div>

		<a href="/" class="btn-link" style="margin-top: 2rem;">← Back to Home</a>
	</main>
</Layout>

<style>
	.projects-list {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 2rem;
	}
</style>
